[submodule "3dparty/glfw"]
	path = 3dparty/glfw
	url = https://github.com/Maksasj/glfw
[submodule "3dparty/glad"]
	path = 3dparty/glad
	url = https://github.com/Maksasj/glad
[submodule "3dparty/Vulkan-Headers"]
	path = 3dparty/Vulkan-Headers
	url = https://github.com/Maksasj/Vulkan-Headers.git
[submodule "3dparty/glslang"]
	path = 3dparty/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "3dparty/omni_types"]
	path = 3dparty/omni_types
	url = https://github.com/Maksasj/omni_types

[submodule "3dparty/stb"]
	path = 3dparty/stb
	url = https://github.com/Maksasj/stb
